* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#parallax {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.parallax__layer img {
    display: block;
    position: absolute;
    bottom: 0;
    min-height: 30vh;
}

.parallax_layer_logo {
    transform: translateZ(-450px) scale(5.5);
    animation: show 3s 2s forwards;
    opacity: 0;
    top: 200vh;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.parallax__layer__1 {
    transform: translateZ(-350px) scale(4.5);
    top: 400vh;
}

.parallax__layer__2 {
    transform: translateZ(-300px) scale(4);
    top: 400vh;
}

.parallax__layer__3 {
    transform: translateZ(-250px) scale(3.5);
    top: 400vh;
}

.parallax__layer__4 {
    transform: translateZ(-200px) scale(3);
    top: 375vh;
}

.parallax__layer__5 {
    transform: translateZ(-150px) scale(2.5);
    top: 375vh;
}

.parallax__layer__6 {
    transform: translateZ(-100px) scale(2);
    top: 360vh;
}

.parallax__layer__7 {
    transform: translateZ(0px) scale(2.5);
    top: 345vh;
    z-index: 1;
}

.parallax__layer__ground {
    position: absolute;
    width: 100vw;
    height: 50vh;
    transform: translateZ(0px) scale(2.5);
    top: 310vh;
    perspective: 35px;
}

#floor {
    background-image: url("../resourses/img/road.svg");
    width: 100vw;
    height: 20vh;
    background-position: center;
    background-repeat: repeat;
    background-size: 20vh;
    transform: rotateX(12deg);
}


/**3D**/

#bld_nxs {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    top: 335vh;
}


/***/

.trigger {
    height: 30px;
    width: 100vw;
}