/*Fonts*/


/*pacifico*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*niramit*/

@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@300&family=Roboto:wght@300&display=swap');

/*roboto*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*Nothing You Could Do*/

@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

/*******/

a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
    background-color: #090a0f;
}

h1 {
    font-family: "Pacifico", sans-serif;
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 3px;
    text-align: center;
}

@media only screen and (orientation: portrait) {
    h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1080px) {
    h1 {
        font-size: 2rem;
    }
}

h2 {
    font-family: "Niramit", sans-serif;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 2.5px;
    text-align: center;
}

@media only screen and (orientation: portrait) {
    h2 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1080px) {
    h2 {
        font-size: 1.5rem;
    }
}

h2 span {
    font-family: 'Nothing You Could Do', cursive;
}

p {
    font-family: "roboto", sans-serif;
    font-size: 1rem;
    letter-spacing: 2.5px;
    width: 75%;
    line-height: 2rem;
}

input[type=textarea] {
    border: none;
    height: auto;
    width: 90%;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;
}

#icon_loader {
    width: 150px;
    height: 150px;
    background-image: url('../resourses/img/neopixelstudio.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#loader3d {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;
}

#icon_loader3d {
    width: 300px;
    height: 300px;
    background-image: url('../resourses/img/loading.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.tutorial {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 10;
}

#tutorial2 {
    display: none;
}

#tutorial3 {
    display: none;
}

.tutorial p {
    text-align: center;
    position: relative;
    right: 0;
    left: 0;
    top: 15%;
    bottom: 0;
    margin: auto;
    font-size: 4rem;
    line-height: 5rem;
}

@media only screen and (max-width: 720px) {
    .tutorial p {
        font-size: 2rem;
        line-height: 3rem;
    }
}

.continuar {
    position: absolute !important;
    top: 75vh !important;
    text-decoration: underline;
    cursor: pointer;
}

.continuar:hover {
    text-decoration: none;
}

#icon_hand1 {
    width: 150px;
    height: 150px;
    background-image: url('../resourses/3D/resourses/icons/pointer.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: handmove1 infinite 2s;
}

@keyframes handmove1 {
    from {
        left: 0px;
    }
    to {
        left: 50vw;
    }
}

@media only screen and (max-width: 720px) {
    #icon_hand1 {
        margin: 50vh auto;
    }
}

#icon_monitor-icon {
    width: 300px;
    height: 150px;
    background-image: url('../resourses/3D/resourses/icons/monitor-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

@media only screen and (max-width: 720px) {
    #icon_monitor-icon {
        margin: 50vh auto;
    }
}

#icon_hand2 {
    width: 150px;
    height: 150px;
    background-image: url('../resourses/3D/resourses/icons/pointer.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 50vh 75vw;
    animation: handmove2 infinite 2s;
}

@keyframes handmove2 {
    from {
        top: 20vh;
    }
    to {
        top: 0;
    }
}

@media only screen and (max-width: 1080px) {
    #icon_hand2 {
        margin: 50vh auto;
    }
}

@media only screen and (orientation: portrait) {
    #icon_hand2 {
        margin: 50vh auto;
    }
}

#board {
    position: absolute;
    width: 30vw;
    min-height: 100vh;
    right: 0;
    top: 0vh;
    background-color: white;
}

@media only screen and (max-width: 1080px) {
    #board {
        width: 100vw;
        margin-top: 60vh;
    }
}

@media only screen and (orientation: portrait) {
    #board {
        margin-top: 60vh;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.bg_animated {
    opacity: 0.15;
    position: absolute;
    margin-top: 10vh;
    overflow: hidden;
    max-height: 75vh;
    width: 100%;
}

#main {
    display: flex;
}

#marketing {
    display: none;
}

#whyus {
    display: none;
}

#portfolio {
    display: none;
}

#examples-wp {
    display: none;
}

.examples-wp {
    width: 75%;
}

#examples-m {
    display: none;
}

.examples-m {
    width: 75%;
}

.pages {
    width: 100%;
    height: 750px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 20px grey;
    transition: 500ms;
    transform: scale(0.975);
}

.pages:hover {
    box-shadow: 7.5px 7.5px 15px grey;
    transform: scale(1);
}

#presentations {
    background-image: url(/resourses/img/portfolio/kelsimariep.jpg);
}

#e-commerce {
    background-image: url(/resourses/img/portfolio/real_estate.jpg);
}

#blogs {
    background-image: url(/resourses/img/portfolio/blog_cafe.jpg);
}

#events {
    background-image: url(/resourses/img/portfolio/evento.jpg);
}

#blossom1 {
    background-image: url(/resourses/img/portfolio/blossom1-instagram.png);
}

#blossom2 {
    background-image: url(/resourses/img/portfolio/blossom2-instagram.png);
}

#whatsapp {
    display: none;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-height: 500px;
    max-width: 500px;
    width: 90%;
    background-color: #095e54;
    position: absolute;
    border-radius: 25px;
    top: 25%;
    box-shadow: 10px 10px 20px black;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#close_whatsapp {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid 1px black;
    border-radius: 100%;
    margin-left: 100%;
    margin-top: -5%;
}

.close {
    stroke: black;
    stroke-width: 2;
}

#w_head {
    height: 20%;
    width: 75%;
    padding: 5%;
    display: grid;
    grid-column-gap: 10%;
    grid-template-columns: 20% auto;
    align-items: center;
    justify-content: left;
}

#w_img {
    grid-area: 1 / 1 / 3 / 2;
    background-image: url('../resourses/img/contacto/kelsi.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75px;
    width: 75px;
    border-radius: 100%;
}

#w_name {
    color: white;
    font-family: "Roboto", "sans-serif";
    font-size: 1.5rem;
}

#w_description {
    color: white;
    font-family: "Roboto", "sans-serif";
    font-size: 0.75rem;
}

#container_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../resourses/img/contacto/w_bg.svg');
    width: 100%;
    height: 75%;
    border-radius: 0 0 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#text {
    background-color: white;
    width: 75%;
    height: auto;
    padding: 1rem;
    border-radius: 10px;
    margin: 20px;
}

#text p {
    letter-spacing: unset;
}

#submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 80%;
    height: auto;
    padding: 0 1rem;
    border-radius: 50px;
    margin: 20px;
}

#submit p {
    letter-spacing: unset;
    color: grey;
    font-size: 0.75rem;
}

#send_message {
    width: 50px;
    height: 50px;
    background-image: url('../resourses/img/contacto/send_message.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    animation: bounce2 1s infinite;
}

@keyframes bounce2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        filter: drop-shadow(3px 3px 3px #333);
    }
    100% {
        transform: scale(1);
    }
}

#about_us {
    display: none;
}


/**3D**/

#office_nxs {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

#tv {
    display: none;
}

#ux {
    display: none;
}

#dev {
    display: none;
}

#grow {
    display: none;
}

#us {
    display: none;
}

#comunication {
    display: none;
}


/***/